<html>

    <head>
    <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
    <style>
        .slot {
            float: left;
            margin: 0.4em;
        }

        .slot__window {
            background-color: green;
            width: 200px;
            height: 200px;
            overflow: hidden;
        }

        .slot__wrap {}

        .slot__item {
            margin-top: 20px;
            height: 160px;
            width: 180px;
            padding: 0 10px;
            font-size: 70px;
            font-weight: bolder;

            text-align: center;
            background-color: blue;
            color: white;

            line-height: 160px;
        }
        .startBtn {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }

        .slot__item--copy {}
    </style>
</head>


<body>
    <div id="app">

        <slot-machine ref="slot-machine"></slot-machine>

    </div>
    <script>
        const next = window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            function(cb) {
                window.setTimeout(cb, 1000 / 60)
            }

        const slotMachine = {
            data: function() {
                return {
                    slots: [{
                        title: "Slot 1",
                        items: [
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                        ]
                    }, {
                        title: "Slot 2",
                        items: [
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                        ]
                    }, {
                        title: "Slot 3",
                        items: [
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                        ]
                    }],
                    opts: null,
                    startedAt: null,
                    daog : 0,
                }
            },

            template: "<div class='slot-machine'> <button @click='start' class='startBtn'>start</button> <div class='slot' v-for='slot in slots' ref='slots'> <h2>{{ slot.title }}</h2> <div class='slot__window'> <div class='slot__wrap'> <div class='slot__item' v-for='opt in slot.items'>{{ opt }}</div> <div class='slot__item slot__item--copy' >{{ slot.items[0] }}</div></div> </div> </div> </div>",

            methods: {
                start: function() {

                    if (this.opts) {
                        return
                    }
                    this.daog = 0;

                    this.opts = this.slots.map((data, i) => {

                        const slot = this.$refs.slots[i]
                        const choice = Math.floor(Math.random() * data.items.length)
                       // const choice = 6;
                        console.log("choice", i, data.items[choice])
                        if(data.items[choice]=='7'){
                            this.daog++;
                            console.log("daog na"+this.daog);
                        }

                        const opts = {
                            el: slot.querySelector('.slot__wrap'),
                            finalPos: choice * 180,
                            startOffset: 2000 + Math.random() * 500 + i * 500,
                            height: data.items.length * 180,
                            duration: 3000 + i * 700, // milliseconds
                            isFinished: false,
                        }

                        return opts

                    })

                    next(this.animate)

                },

                animate: function(timestamp) {

                    if (this.startedAt == null) {
                        this.startedAt = timestamp
                    }

                    const timeDiff = timestamp - this.startedAt

                    this.opts.forEach(opt => {

                        if (opt.isFinished) {
                            return
                        }

                        const timeRemaining = Math.max(opt.duration - timeDiff, 0)
                        const power = 3
                        const offset = (Math.pow(timeRemaining, power) / Math.pow(opt.duration, power)) * opt.startOffset

                        // negative, such that slots move from top to bottom
                        const pos = -1 * Math.floor((offset + opt.finalPos) % opt.height)

                        opt.el.style.transform = "translateY(" + pos + "px)"

                        if (timeDiff > opt.duration) {
                            console.log('finished', opt, pos, opt.finalPost)
                            opt.isFinished = true
                        }

                    })

                    if (this.opts.every(o => o.isFinished)) {
                        this.opts = null
                        this.startedAt = null
                        console.log('finished')
                        if(this.daog==3){
                            console.log("yehey 7 7 7 na");
                            var audio = new Audio('C:/Users/john/OneDrive/Documents/Caysido/removal_2/music/chime.wav'); // path to file
                            audio.play();
                        }
                    } else {
                        next(this.animate)
                    }

                }


            }


        }


        new Vue({
            el: '#app',

            components: {
                slotMachine
            },

            data: function() {
                return {}
            },

        })
    </script>
</body></html>



