body {
    width: 100%;
    height: 100vh;
    background: url("../images/v3_4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.con {
    border-left: 30px solid #ED5B5B;
    border-right: 30px solid #ED5B5B;
    height: 100vh;
}

#con {
    height: calc(100% - 74px);
}

#con .ele {
    color: rgba(12, 2, 2, 1);
    font-family: Qwigley;
    font-weight: 400;
    font-size: 72px;
    opacity: 1;
    text-align: left;
    padding-left: 80px;
}

#con .bri {
    color: rgba(0, 0, 0, 1);
    font-family: Ribeye;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: left;
}

#con .coll {
    color: rgba(0, 0, 0, 1);
    font-family: Ribeye;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
    padding-left: 340px;
}

nav {
    padding-top: 30px !important;
}

nav .nl {
    color: rgba(0, 0, 0, 1) !important;
    font-family: Roboto !important;
    font-weight: Regular !important;
    font-size: 24px !important;
    opacity: 1 !important;
    text-align: left !important;
    padding: 30px 50px;
     !important;
}

.kasal img {
    width: 95%;
    height: 80%;
    margin-left: 5%;
}

#rb {
    position: absolute;
    bottom: 0;
}

#rb img {
    margin-left: 50%;
    margin-bottom: 5%;
    margin-top: 10%;
}

@media (max-width: 480px) {
    .kasal img {
        display: none;
    }

    #con {
        height: calc(90% - 74px);
    }

    #rb {
        position: relative;
        padding-top: 120px;
    }

    #con .ele {
        color: rgba(12, 2, 2, 1);
        font-family: Qwigley;
        font-weight: 400;
        font-size: 55px;
        opacity: 1;
        text-align: left;
        padding: 0;
    }

    #con .bri {
        color: rgba(0, 0, 0, 1);
        font-family: Ribeye;
        font-weight: Regular;
        font-size: 48px;
        opacity: 1;
        text-align: left;
    }

    #con .coll {
        color: rgba(0, 0, 0, 1);
        font-family: Ribeye;
        font-weight: Regular;
        font-size: 36px;
        opacity: 1;
        text-align: left;
        padding: 0;
    }
}
